html {
    box-sizing: border-box;
    background-color: #fafafa;
}
  
*,
*:before,
*:after {
    box-sizing: inherit;
}



body {
    margin: 0;
    font-family: 'Lato', 'Roboto', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.5rem;
    text-align: center;
    color: #373a36;
}

.nav a {
    color: white;
    display: inline-block;
}

.nav {
    background-color: #107ac5;
    top: 0;
    position: fixed;
    width: 100%;
}

.Header-in,
.Header-not-in {
    /* align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%; */
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.nav h3 {
    font-family: "Shrikhand", "sans-serif";
    font-weight: 200;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

h1,
h2{
    margin: 1rem;
}

.Header-links {
    /* display: flex;
    justify-content: space-between; */
    width: 100%;
    margin: 0 auto;
    margin-top: 0.5rem;
}

.Header-space {
    margin-right: 8px;
    margin-left: 8px;
}
  

/* .trip-flight-list {
    margin-top: 1rem;
} */

.flight-results-list {
    list-style-type: none
}

/* .container {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px
} */

a,
a:visited,
a:focus {
    text-decoration: none;
}



a:hover {
    text-decoration: underline;
    cursor: pointer;
    /* background-color: #2c95ce; */
}


.btn:hover {
    background-color: #107ac5;
    cursor: pointer;
    text-decoration: none;
}


.btn {
    background-color: #2c95ce;
    color: white;
    font-weight: 500;
    border-radius: 3px;
    width: auto;
    border-width: 2px;
    padding: 1rem;
    font-size: 1.15rem;
}

.btn-sign-in {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 40px;
    padding: 8px;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
}

.astrik{
    color: #ed5868;
    margin: 0 0 0 3px;
}

h1,
h2
 {
    /* font-family: 'Lato',  'sans-serif'; */
    font-weight: 900;
}

.landing-page {
    margin-top: 5rem;
}

.LoginPage,
.RegisterPage {
    margin-top: 8rem;
}

.login-form {
    width: 100%;
    max-width: 330px;
    padding: 1.3rem;
    padding-bottom: 0rem;
    margin: auto;
}

.signup-label {
    text-align: left;
    display: inline-block;
    margin-bottom: 0.3rem;
}

.signup-input > input {
    width: 100%;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
}

.signup-element {
    text-align: left;
    margin-bottom: 1rem;
}

.login-form-redirect {
    margin-top: 1rem;
}

.login-form-redirect a {
    color: #107ac5;
    font-weight: 500;
}


/* .login-demo {
    text-align: left;
} */

.login-demo p  {
    margin: 0;
    font-size: 0.9rem;
}

.landing-page-header {
    background: linear-gradient(rgba(0,0,0, 0.6), rgba(0, 0, 0, 0.6)), url('../website-images/background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.landing-page-header h1 {
    line-height: 2rem;
}

.landing-descript-container {
    padding: 0 1rem;
    margin-top: 2rem;
}

.landing-descript-header {
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 0 1rem;
}

.descript-img {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
}

.landing-page-reminder {
    margin-top: 2rem;
}

.trips-dashboard-container {
    margin-top: 7.5rem;
    text-align: left;
    border: 1px solid #EEE;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0;
}

.dashboard-header {
   background-color: #EEE;
   margin: 0;
   padding: 1rem;
   text-align: center;
   color: #107ac5;
}

.trips-dashboard-container ul {
    padding: 0;
    margin-top : 0;
    margin-block-end: 0rem;
}

.trip-item {
    /* margin-bottom: 1rem; */
    border: 1px solid #EEE;
    padding-left: 1rem;
    padding-top: 0.8rem;
}

.trip-item-title {
    margin: 0;
    padding-top : 0.3rem;
}

.trip-item-title a {
    color: #107ac5;
}

.trip-item-delete {
    margin-bottom: 0.5rem;
}

.dashboard-add {
    display: inline-block;
    text-align: left;
}

.dash-add-div {
    margin: 1rem;
}

.trip-main,
.add-trip {
    width: 90%;
    margin: 0 auto;
    margin-top: 7rem;
}

.trip-main h1 {
    font-size: 35px;
    padding: 0.5rem;
    margin: 0px;
}

.trip-main h2,
.add-trip h2 {
    font-size: 25px;
    margin: 0px;
    padding: 0.5rem;
}

.trip-name-header p {
    color: #373a36;
    padding: 0.5rem;
    margin: 0px;
}

.fa-trash-alt,
.fa-plus-circle {
    margin-left: 0.8rem;
    color: #373a36;
}

.fa-edit {
    color: #373a36;
    margin-left: 0.5rem;
}


.fa-trash-alt:hover {
    color: red;
    cursor: pointer;
}

.fa-plus-circle:hover,
.fa-edit:hover,
.fa-check:hover {
    color: #107ac5;
    cursor: pointer;
}


.flight-form-header,
.destination-form-header,
.trip-packing-list h2,
.trip-name-header {
    background-color: #EEE;
    color: #107ac5;
    text-align: center;
}

.trip-flight-form {
    margin-top: 1.2rem;
}

.trip-main ol {
    padding-inline-start : 0px;
}

/* forms */

label {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.add-trip-element {
    text-align: left;
}

.add-trip h2 {
    margin: 0;
}

.form-input {
    display: block;
    width: 100%;
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    margin-bottom: 0.4rem;
    color: #373a36;
}

.main-form {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    /* max-width: 500px; */
}

.submit-button {
    border-radius: 0.3rem;
    margin-right: 0.4rem;
    cursor: pointer;
    font-size: 0.95rem;
    background-color: #107ac5;
    color: white;
    padding: 0.2rem 0.4rem;
}

.submit-button:hover {
    box-shadow: 0 2px 4px #CCC;
}

.cancel-button {
    border-radius: 0.3rem;
    margin-right: 0.4rem;
    cursor: pointer;
    font-size: 0.95rem;
    background-color: lightgray;
    color: rgb(51,51,51);
    padding: 0.2rem 0.4rem;
}

.cancel-button:hover {
    box-shadow: 0 0 10px #CCC;
}

.button-container {
    text-align: center;
    margin-top: 1rem;
}


ol {
    margin: 0;
}

.trip-flight-list,
.trip-destination-list,
.trip-packing-results {
    border: 1px solid #EEE;
}

.list-section {
    padding: 0.5rem;
    padding-top: 0.8rem;
    border-top: 1px solid #EEE;
    margin-bottom: 0.5rem;
}

.trip-destination-form,
.trip-packing-list {
    margin-top: 2rem;
}

.back-dash-btn {
    margin-top: 1.2rem;
    text-align: center;
}

.back-dash-btn button {
    border-radius: 0.3rem;
    cursor: pointer;
    font-size: 0.95rem;
    padding: 0.2rem 0.4rem;
}

li {
    font-size: 1.2rem;
}

.trip-main {
    text-align: left;
}

.list-info-div {
    padding-left: 0.6rem;
}

.btn-div {
    padding-left: 0.8rem;
    font-size: 20px;
    margin-top: 0.3rem;
}

.hidden {
    display: none;
}

.error {
    margin: 1rem;
}



/* Responsive Design */

/* @media only screen and (min-width: 480px) {
    
} */

@media only screen and (min-width: 768px) {

    .landing-descript-container {
        margin-top: 3.5rem;
    }

    .landing-descript-header {
        margin-bottom: 3.5rem;
        margin-top: 3.5rem;
    }

    .landing-description {
        margin: 2.5rem;
        font-weight: bold;
    }

    .landing-page-reminder {
        margin-top: 4rem;
    }

    .form-flex-container {
        display: flex;
        justify-content: space-around;
    }

    .main-form {
        margin-top: 1.5rem;
        margin-bottom: 5.5rem;
    }

    .add-trip-element {
        width: 40%;
    }

    .button-container {
        margin-top: 2rem;
    }
}

@media only screen and (min-width: 1024px) {
    .landing-descript-container {
        display: flex;
        justify-content: space-between;
    }

    .landing-descript-two {
        width: 33.33%;
        margin-left: 2rem;
    }

    .landing-descript-one {
        width: 33%;
    }

    .landing-description {
        font-weight: 400;
    }

    .landing-page-reminder {
        margin-top: 2rem;
    }
}